src/co/edu/poli/xml/taller2/xsd/TipoDatos.xsd

<?xml version="1.0"?>
<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:group name="itemLink">
        <xs:sequence>
            <xs:element name="item" maxOccurs="unbounded">
                <xs:complexType mixed="true">
                    <xs:attribute name="link" type="xs:string" use="required" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
</xs:schema>
